@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.swiper-button-prev {
    color: rgb(252, 156, 172); /* Sostituisci con il tuo colore preferito */
  }
  
  /* Cambia il colore della freccia destra */
  .swiper-button-next {
    color: rgb(252, 156, 172);; /* Sostituisci con il tuo colore preferito */
  }

  .active {
    color: black;
    font-weight: bold;
  }